/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page{
    margin-left: 11%;
}

/* Sidebar styling */
#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20% !important;
    background-color: #f2f3f7;
    overflow-y: scroll;
    padding-top: 20px;
}

@media (max-width: 767.98px) {
    #sidebar{
        width: 100%;
        height:100%;
        
    }
}
#sidebar #uul {
    color: black !important;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 12px;
}
    
#sidebar li{
   margin-bottom: 15px;
   text-decoration: none !important;
  
}

#sidebar .nav-link.active {
    text-decoration: underline ;
    color: blue;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Image styling */
#pic {
    width: 140px;
    height: 140px;
    border-radius: 80%;
    margin: 20%;
    margin-top: 0;
 }

 /* text identification*/
#job{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    font-size: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 #nam{
    text-align: center;
    margin-bottom: 10px;
    margin-top: -30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
 }


/* Footer styling */
#footer {
   margin-top: 30% ;
   text-align: center;
   font-size: small;
    
}
.social-media a{
    font-size: smaller;
    margin:5%;
    color: rgb(0, 0, 163) !important;
}



/* Main content styling */
#main-content {
    padding-top: 20px;
    margin-left: 30%;
}

.section {
    padding: 60px 20px;
    min-height: 100vh;
}

.section h5 {
    margin-bottom: 20px;
}


.hme .hmg {
    width: 100%;
    height: auto;
}



/* Custom container box styling */
.cbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.cbox {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: #e9ecef;
    text-align: center;
    border-radius: 5px;
}



/* Ensure responsiveness */
@media (max-width: 767.98px) {
    #sidebar {
        display: block;
        
    }

    #main-content {
        margin-left: 0;
    }

    .navbar-toggler {
        display: block;
    }
}

@media (min-width: 768px) {
    #sidebar {
        width: 30%;
    }

    #main-content {
        margin-left: 30%;}
    }