/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page{
    background-color: rgb(5, 5, 5);
    margin-left: 6.5%;
    margin-right: 7.8%;
}



/* Flexbox container */
.row {
    display: flex;
    flex-wrap: nowrap;}
    
    


/* Sidebar styling */
#sidebar {
    position: fixed;
    width: 22.5% !important;
    background-color: #f2f3f7;
    overflow-y: auto;
    padding-top: 20px;
    height: 100vh; /* Ensure sidebar occupies full height */
}


/* Image styling */
#pic {
    width: 150px;
    height: 150px;
    border-radius: 80%;
    margin: 22%;
    margin-top: 10%;
    margin-left: 23%;
 }



 /* text identification*/
#job{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    font-size: 80%;
    font-family: Quicksand ,'calibri';
 }

 #nam{
    text-align: center;
    margin-bottom: 10px;
    margin-top: -30px;
    font-family: playfair;
    font-size: 100%;
    font-weight: bolder;
 }


 
 /*links and list*/

#sidebar #uul {
    text-align: center;
}
    
#sidebar li{
   font-family: Quicksand , 'calibri';
   margin-bottom: 15px;  
}

#sidebar li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

#sidebar .nav-link.active {
    text-decoration: underline !important;
    color: blue !important;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



/* Footer styling */
.sign {
    margin-top: 30% ;
   text-align: center;
   font-size: 13px;
   font-family: Quicksand, 'calibri';
   color: black;
   margin-bottom: 15%;
      
}

.social-media{
    margin-left: 25%;
}

.social-media a{
    color: rgb(114, 114, 114) !important;
    font-size: small;
    font-weight: bold;
    margin-right: 5%;
}




/* Main content styling */

#mainview {
    width: 100%; /* Fill the remaining space */
    padding-left: 26%; /* Add padding for spacing */
    background-color: rgb(255, 255, 255);
}



/*style home section */
#home .flexslider .slides li {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

#home .slider-text {
    position: absolute;
    top:50%;
    left: 10%;
    transform: translate(0%, -50%);
    color: white;
    text-align: left;
}

#home h1{
    font-family: playfair,'sans-serif';
    font-size: 70px;
}

#home  a{
    color: white;
    text-decoration: line-through;
}

#home  a:hover{
    color: rgb(207, 207, 207);
    text-decoration: underline;
}

#home .area {
    border: 1px solid rgb(255, 255, 255);
    width: 140px ;
    height: 40px;
    text-align: center;
    font-family: Quicksand ,'Franklin Gothic Medium';
    font-size: 15px;
    font-stretch: wider;
    text-align: center; 
    margin: 20px 0; 
}

.spaced-text {
    letter-spacing: 0.2em; /* Adjust spacing between letters */
    text-align: center; /* Center the text */
    display: inline-block; /* Keep the text as an inline block for better control */
    font-weight: bold; /* Optional: make the text bold */
}

.flex-control-nav {
    text-align: left !important;
    position: relative !important ;
    bottom: 70px !important;
    z-index: 2;
}

.flex-control-nav li{
    display: block !important;
    margin-top: 10px !important;
}

.flex-control-nav li a {
    background: rgb(255, 255, 255) !important;
    color: white !important;
    border: 1px solid blue;
    border-radius: 50%;
    display: block !important;
    height: 12px;
    width: 12px;
}

/* Active dot styling */
.flex-control-nav li a:active,
.flex-control-nav li a:hover,
.flex-control-nav li a.flex-active {
    background-color: rgb(0, 0, 0);
}



/* Initial state of the text */
.slider-text .desc {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

/* Spaced text for buttons */
.spaced-text {
    letter-spacing: 0.2em;
    display: inline-block;
}

.spaced-text i {
    margin-left: 10px;
}




     /*style about section */
     #about{
       
        text-align: left;
        margin-left: 5%;
        margin-top: 10%;
     }

     #about h2{
        text-align: left;
        font-family: Quicksand, 'calibri';
        font-weight: lighter;
        font-size: 13px;
        letter-spacing: 0.3em;
     }
     #about h3{ 
        padding-bottom: 70px;
        font-size: 20px;
        letter-spacing: 0.2em;
     }
     #about h4{
        text-align: left;
        font-family: Quicksand, 'calibri';
        font-weight: lighter;
     line-height: 30px;
     }

     #probox{
        background-color: #f9bf3f;
        width: 100%;
        height: 200px;
        text-align: left;
        margin-top: 90px;
        margin-left: 12px;
        margin-bottom: 100px;
     }

     #project{
        margin-left: 30px;
        padding-top: 40px;
        font-size: 100px;
     }

#project h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 0rem;
   
    
}
.wrap{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 15px;
   }
   .outerbox{
    width: 200px;
   }

   .box{
    background-color: white;
    box-shadow: inset;
    height: 100%;
    width: 20%;
    margin-right: 15px;
    margin-left: 15px;
    float:left;
   }
   #go{border-bottom: 2px solid  #2c98f0;} #we{ border-bottom: 2px solid  #ec5453;} #sm{ border-bottom: 2px solid#f9bf3f;} #at{ border-bottom: 2px solid #a84cb8;}
   #texts{
    float:right;
    margin-right: 20px;
    margin-top: 30px;
}
#textsy{ margin-top: 40px;}
#glb{ font-size: 30px;
    margin-top: 10%;
    margin-left: 20px;
    color:  #2c98f0;}
    #blb{  font-size: 30px;
        margin-top: 10%;
        margin-left: 20px;
        color: #ec5453;}
    #wad{ font-size: 30px;
        margin-top: 10%;
        margin-left: 20px;
        color:#f9bf3f;
        }
    #ntw{ font-size: 30px;
        margin-top: 10%;
        margin-left: 20px;
        color: #a84cb8;}



      /*style service section */

      #texth {
        margin-bottom: 50px; 
        margin-top: 70px;
    }
    
    #texth h6 {
        font-family: Quicksand, 'Calibri', sans-serif;
        font-size: 13px;
        color: #333;
        margin-left: 30px;
        letter-spacing: 0.4em; /* Adjust spacing between letters */
    }
    
    #texth h4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        color: #333;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 100px;
        letter-spacing: 0.2em; /* Adjust spacing between letters */
    }
    
    #divider {
        display: flex;
        flex-wrap: wrap;
        gap: 30px; 
        justify-content: center;
        margin-bottom: 100px;
        margin-left: 20px;
    }
    
    .hexagon-container {
        width: 250px;
        height: 280px;
        text-align: center;
        background-color: #ffffff;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.144); /* Enhanced shadow effect */
        padding: 20px;
        box-sizing: border-box; /* Ensure padding is included in the width/height */
        border-bottom: 2px solid; /* Border color to be set by the hexagon's color */
        margin-bottom: 50px;
    }
    
    .hexagon-container:nth-child(3n) {
        margin-right: 0; /* Remove margin on the last item of each row */
    }
    
    .hexagon {
        width: 100px;
        height: 100px;
        background-color: #3498db; /* Default color if not overridden */
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
        margin-top: -70px;
        position: relative; /* Ensure positioning relative to container */
    }
    
    .hexagon i {
        font-size: 30px;
        color: white;
    }
    
    h3 {
        margin-top: 10px;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #333;
    }
    
    p {
        font-size: 12px;
        color: #666;
        font-family: Quickfair , 'calibri';
        margin: 10px 0 0;
    }
    
    /* Specific background colors for each hexagon container */
    .hexagon-container:nth-child(1) {
        border-bottom-color: #2c98f0;;
    }
    
    .hexagon-container:nth-child(2) {
        border-bottom-color: #ec5453;
    }
    
    .hexagon-container:nth-child(3) {
        border-bottom-color: #f9bf3f;
    }
    
    .hexagon-container:nth-child(4) {
        border-bottom-color:  #a84cb8;
    }
    
    .hexagon-container:nth-child(5) {
        border-bottom-color: #2fa499;
    }
    
    .hexagon-container:nth-child(6) {
        border-bottom-color:  #4054b2;
    }




    #projectcall-counter {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        padding: 120px 0;
        margin-left: 10px;
        margin-bottom: 50px;
        height: 20px;
        
    }
    
    .projectcall-counters {
        position: relative;
        z-index: 1;
    }
    
    .projectcall-narrow-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }
    
    .projectcall-counter {
        display: block;
        font-size: 48px;
        color: #fff;
        font-weight: 700;
       
    }
    
    .projectcall-counter-label {
        display: block;
        font-size: 18px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 100px;
       
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(20, 83, 255, 0.199);
        z-index: 0;
    }
    
    .texter{
        color: white;
        font-family: Quicksand , Calibri;
        text-align: center;
        margin-left: 50px;
        margin-right: 70px;
        letter-spacing: 2px;
       
    }
    
    .animate-box{
        margin-top: -50px;
    }


       /*style skill section */

       #skills p{
        font-family: Quicksand, 'calibri';
        font-size: small;
        letter-spacing: 5px;
        margin-bottom: 20px;
     }

        #skills h3{
    font-size: 20px;
    letter-spacing: 7px;
    margin-bottom: 70px;
}

        .progy{
           margin-left: 50px;
           margin-bottom: 50px;
           margin-top:50px ;
        
           
        }
       
        .progress-container{
            width: 40%;
            margin-left: 40%;
            margin-top: 40px;
            display: inline;
        }

        .skill {
            margin-bottom: 20px;
        }
        
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }
        
        .progress-container {
            position: relative;
            background-color: #e0e0e0;
            border-radius: 25px;
            overflow: hidden;
            height: 10px;
            width: 40%; /* Fixed width for all progress bars */
            margin-bottom: 20px;
        }
        
        .progress-bar {
            height: 10px;
            border-radius: 25px;
            position: relative;
            line-height: 10px; /* Center the percentage text vertically */
            text-align: center;
            font-size: 12px; /* Adjust font size for readability */
            color: #fff;
            background-color: #3498db; /* Default color */
            z-index: 1;
        }
        
        .progress-circle {
            width: 40px;
            height: 40px;
            background-color: inherit;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        .percnt{
            color: black;
            text-align: center;
            z-index: 1;
            display: block;
            margin-top: 10px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
        }

        
        
        /* Custom colors for progress bars and circles */
        .skill:nth-child(1) .progress-bar,
        .skill:nth-child(1) .progress-circle {
            background-color: #3498db;
        }
        
        .skill:nth-child(2) .progress-bar,
        .skill:nth-child(2) .progress-circle {
            background-color: #e74c3c;
        }
        
        .skill:nth-child(3) .progress-bar,
        .skill:nth-child(3) .progress-circle {
            background-color: #f39c12;
        }
        
        .skill:nth-child(4) .progress-bar,
        .skill:nth-child(4) .progress-circle {
            background-color: #9b59b6;
        }
        
        .skill:nth-child(5) .progress-bar,
        .skill:nth-child(5) .progress-circle {
            background-color: #2ecc71;
        }
        
        .skill:nth-child(6) .progress-bar,
        .skill:nth-child(6) .progress-circle {
            background-color: #34495e;
        }
        
        
        
        
      
        /*style education section */

        
        .education h1 {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        
        .accordion {
            max-width: 800px;
            margin: 0 auto;
        }
        
        .accordion-item {
            border: 1px solid #ddd;
            margin-bottom: 10px;
            border-radius: 5px;
            overflow: hidden;
        }
        
        .accordion-header {
            background-color: #f2f2f2;
            color: #333;
            padding: 15px;
            text-align: left;
            font-size: 18px;
            cursor: pointer;
            border: none;
            width: 100%;
            text-transform: uppercase;
            transition: background-color 0.3s ease;
            position: relative;
        }
        
        .accordion-header.active {
            background-color: #3498db;
            color: white;
        }
        
        .accordion-header::after {
            content: "+";
            font-size: 20px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease;
        }
        
        .accordion-header.active::after {
            content: "-";
        }
        
        .accordion-content {
            display: none;
            background-color: white;
            padding: 20px;
            font-size: 16px;
            color: #555;
            line-height: 1.6;
        }
        
        .accordion-content p {
            margin: 0 0 10px;
        }
        
        .show {
            display: block;
        }
        

         /*style experience section */
         #experience{ text-align: left;
            margin-left: 5%;
            margin-top: 10%;
            margin-bottom: 40px;
         }
         #experience p{
            font-family: Quicksand, 'calibri';
            font-size: small;
            letter-spacing: 5px;
            margin-bottom: 20px;
         }
         #experience h3{
        font-size: 20px;
        letter-spacing: 7px;
        margin-bottom: 70px;
         }

        #experience h2{
            font-family: Quicksand , 'calibri';
            font-size: 20px;
            font-weight: lighter;
            margin-top: 15px;
            margin-left: 20px;

        }

        #experience .CurrentDate{
            font-family: Quicksand, 'calibri';
            font-size: 20px;
            font-weight: lighter;
            display: inline;
        }

         #experience h4{
            margin-top: 40px;
            text-align: left;
            font-family: Quicksand, 'calibri';
            font-weight: lighter;
            font-size: 15px;
            margin-left: 20px;
            margin-right: 10px;
         }

         
         
        #last{
            background-color:  #f2f3f7;
            border: 2px solid white;
            width: 80%;
            height: 200px;
            margin-bottom: 5px;
            margin-left: 10%;
        }
        #finish{
            background-color:   #f2f3f7;
            border: 2px solid white;
            width: 80%;
            height: 200px;
            margin-left: 10%;
            margin-bottom: 10%;
        }
        .circle {
            width: 50px;
            height: 50px;
            background-color: whitesmoke; /* Set your desired background color */
            color: white;
            border-radius: 50%;
            float:inline-start;
          }

         .blue{ background-color: #2c98f0;
            width: 40px;
            height: 40px;   
            border-radius: 50%; 
            margin-left: 5px;
            margin-top: 5px;}

         .red{ background-color: #ec5453;
            width: 40px;
            height: 40px;   
            border-radius: 50%;
            margin-left: 5px;
            margin-top: 5px;}

         .yellow{ background-color: #f9bf3f;
            width: 40px;
            height: 40px;   
            border-radius: 50%;
            margin-left: 5px;
            margin-top: 5px;}
          
            #experience .fas {
                margin-top: 10px;
                margin-left: 10px;
                font-size: 20px;
            }


            /*style contact section */
.glycons {
    justify-content: left;
    background-color: rgb(228, 221, 248);
    margin-bottom: 24px;
    margin-right: 15px;
    size: 10px;
    float: left;
    font-size: 24.2px;
    padding: 25px;
}       

.glycon-text {
    text-align: center;
    display: flex;
    vertical-align: middle;
    margin-bottom: 12px;
    color: #2c98f0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 120px;
}

.contact-info, .contact-form {
    width: 48%; /* Adjust width as needed */
}

.contact-info h2 {
    margin-top: 0;
    margin-right: 5px;
    font-size: 20px;
}

.contact-info p {
    margin: 10px 0;
    margin-left: 40px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 5px 0 2px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 14px;
    padding: 24px;
    border: 1px solid #fffcfc;
    border-radius: 0px;
    background-color:  #d1d1d1a9;

}


.contact-form button {
    padding: 12px 18px !important;
    background-color: #007BFF;
    color: #fff;
    border: 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.contact-form button:hover {
    background-color: #1d87f8;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 150px; /* Adjust width as needed */
    margin-right: 10px; /* Space between label and textarea */
}

.form-group textarea {
    flex: 1; /* Take up remaining space */
}

.contact-item {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Vertically center-align the items */
    margin-bottom: 78px; /* Add some spacing if needed */
}

.icon {
    width: 94px; /* Adjust the width of the icon */
    height: 68spx; /* Adjust the height of the icon */
    margin-right: 50px; /* Add space between the icon and text */
}

.contact-text {
    font-size: 36px; /* Adjust text size if needed */
}

.contact-item {
    display: flex; /* Align items horizontally */
    align-items: center; /* Vertically center-align the items */
    margin-bottom: 8px; /* Space between items */
}

.icon {
    width: 60px; /* Set icon width */
    height: 60px; /* Set icon height */
    margin-right: 12px; /* Space between the icon and text */
} 

.contact-text {
    font-size: 15px; /* Adjust text size */
}


.in-touch {
    font-size: 11px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px;
    
    font-family: Quicksand,'Calibri';
}

.contact-header-contact {
    font-size: 32px !important;
    letter-spacing: 4px;
}

.fas {
    color:#2c98f0;
}



/*MOBILE*/

/* Mobile styles sidebar */

@media (max-width: 767.98px) {
   


}
/*Mobile style ends*/


/* Mobile styles for iPhone 11 and similar devices */
@media (max-width: 414px) {

    /* Adjust contact section */
    .contact-container {
        flex-direction: column; /* Stack contact info and form vertically */
        margin-top: 80px; /* Adjust top margin for mobile */
    }

    .contact-info, .contact-form {
        width: 100%; /* Full width for both sections */
    }

    .contact-info p {
        margin-left: 0; /* Remove left margin for mobile view */
    }

    .contact-form input, .contact-form textarea {
        padding: 16px; /* Adjust padding */
    }

    .contact-form button {
        font-size: 14px; /* Adjust button font size */
    }

    .form-group label {
        width: 100%; /* Full width for labels */
        margin-right: 0; /* Remove margin right */
        margin-bottom: 8px; /* Add space below label */
    }

    .contact-item {
        flex-direction: column; /* Stack icon and text vertically */
        align-items: flex-start; /* Align items to the start */
        margin-bottom: 20px; /* Adjust spacing between items */
    }

    .icon {
        width: 60px; /* Adjust icon size */
        height: 60px; /* Adjust height accordingly */
        margin-right: 0; /* Remove margin right */
        margin-bottom: 10px; /* Add space below icon */
    }

    .contact-text {
        font-size: 16px; /* Adjust text size for better readability */
    }

    .in-touch {
        font-size: 12px; /* Adjust font size */
    }

    .contact-header-contact {
        font-size: 28px !important; /* Adjust header font size */
    }
}
