/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page{
    background-color: rgb(5, 5, 5);
    margin-left: 6.5%;
    margin-right: 7.8%;
}



/* Flexbox container */
.row {
    display: flex;
    flex-wrap: nowrap;}
    
    


/* Sidebar styling */
#sidebar {
    position: fixed;
    width: 22.5% !important;
    background-color: #f2f3f7;
    overflow-y: auto;
    padding-top: 20px;
    height: 100vh; /* Ensure sidebar occupies full height */
}


/* Image styling */
#pic {
    width: 150px;
    height: 150px;
    border-radius: 80%;
    margin: 22%;
    margin-top: 10%;
    margin-left: 23%;
 }



 /* text identification*/
#job{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    font-size: 80%;
    font-family: Quicksand ,'calibri';
 }

 #nam{
    text-align: center;
    margin-bottom: 10px;
    margin-top: -30px;
    font-family: playfair;
    font-size: 100%;
    font-weight: bolder;
 }


 
 /*links and list*/

#sidebar #uul {
    text-align: center;
}
    
#sidebar li{
   font-family: Quicksand , 'calibri';
   margin-bottom: 15px;  
}

#sidebar li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

#sidebar .nav-link.active {
    text-decoration: underline !important;
    color: blue !important;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



/* Footer styling */
.sign {
    margin-top: 30% ;
   text-align: center;
   font-size: 13px;
   font-family: Quicksand, 'calibri';
   color: black;
   margin-bottom: 15%;
      
}

.social-media{
    margin-left: 25%;
}

.social-media a{
    color: rgb(114, 114, 114) !important;
    font-size: small;
    font-weight: bold;
    margin-right: 5%;
}





/* Mobile styles sidebar */

@media (max-width: 767.98px) {
    #sidebar{
        width: 100%;
        height:100%;
        
    }
}
/*Mobile style ends*/






/* Main content styling */

#mainview {
    width: 100%; /* Fill the remaining space */
    padding-left: 26%; /* Add padding for spacing */
    background-color: rgb(255, 255, 255);
}



/*style home section */
#home .flexslider .slides li {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

#home .slider-text {
    position: absolute;
    top:50%;
    left: 10%;
    transform: translate(0%, -50%);
    color: white;
    text-align: left;
}

#home h1{
    font-family: playfair,'sans-serif';
    font-size: 70px;
}

#home  a{
    color: white;
    text-decoration: line-through;
}

#home  a:hover{
    color: rgb(207, 207, 207);
    text-decoration: underline;
}

#home .area {
    border: 1px solid rgb(255, 255, 255);
    width: 140px ;
    height: 40px;
    text-align: center;
    font-family: Quicksand ,'Franklin Gothic Medium';
    font-size: 15px;
    font-stretch: wider;
    text-align: center; 
    margin: 20px 0; 
}

.spaced-text {
    letter-spacing: 0.2em; /* Adjust spacing between letters */
    text-align: center; /* Center the text */
    display: inline-block; /* Keep the text as an inline block for better control */
    font-weight: bold; /* Optional: make the text bold */
}

.flex-control-nav {
    text-align: left !important;
    position: relative !important ;
    bottom: 70px !important;
    z-index: 2;
}

.flex-control-nav li{
    display: block !important;
    margin-top: 10px !important;
}

.flex-control-nav li a {
    background: rgb(255, 255, 255) !important;
    color: white !important;
    border: 1px solid blue;
    border-radius: 50%;
    display: block !important;
    height: 12px;
    width: 12px;
}

/* Active dot styling */
.flex-control-nav li a:active,
.flex-control-nav li a:hover,
.flex-control-nav li a.flex-active {
    background-color: rgb(0, 0, 0);
}





     /*style about section */
     #about{
       
        text-align: left;
        margin-left: -15%;
     }
#javbby{
    border: 2px solid black;
    width: 60%;
    height: 150px;
    background-color: rgb(230, 131, 50);
}
.wrap{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 15px;
   }
   .outerbox{
    width: 200px;
   }

   .box{
    background-color: gray;
    box-shadow: inset;
    height: 100%;
    width: 20%;
    margin-right: 15px;
    margin-left: 15px;
    float:left;
   }
   #texts{
    float:right;
    margin-right: 10px;
    margin-top: 120px;
}
#textsy{ margin-top: 50px;}
#glb{ font-size: 50px;
    margin-top: 5%;
    color: green;}
    #blb{  font-size: 50px;
        margin-top: 5%;
        color: rgba(6, 155, 255, 0.911);}
    #wad{ font-size: 50px;
        margin-top: 5%;
        color: ;}
    #ntw{ font-size: 50px;
        margin-top: 5%;
        color: blanchedalmond;}



      /*style sservice section */



       /*style skill section */



        /*style education section */



         /*style experience section */



          /*style works section */



           /*style blog section */




            /*style contact section */